### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [19]:
message = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
message.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
name = input("Enter a name: ")
color = input("Enter a color: ")
animal = input("Enter an animal: ")

Enter a name: Sara
Enter a color: red
Enter an animal: bunny

In [4]:
print("{} had a little {}".format(name, animal))
print("It was {} as snow.".format(color))
print("And everywhere that {} went, the {} was sure to go.".format(name, animal))

Sara had a little bunny
It was red as snow.
And everywhere that Sara went, the bunny was sure to go.

3. Print 3.14159 in a scientific number notation

In [23]:
number1 = 3.14159
print(f"{number1:.1e}")

3.1e+00

4. Print 3.1559 in 3 decimal places

In [24]:
print(f"{3.1559:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [25]:
print(f"{1589.92341:3e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [26]:
print(39//2)
print(39%2)

19
1

In [27]:
print(19//2)
print(19%2)

9
1

In [28]:
print(9//2)
print(9%2)

4
1

In [29]:
print(4//2)
print(4%2)

2
0

In [30]:
print(2//2)
print(2%2)

1
0

In [31]:
print(1//2)
print(1%2)

0
1

In [33]:
#0b100111
print(bin(39))
print(int(0b100111))

0b100111
39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [34]:
print(39//8)
print(39%8)

4
7

In [35]:
print(4//8)
print(4%8)

0
4

In [36]:
#0o47
print(oct(39))

0o47

In [37]:
print(int(0o47))

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [38]:
print(39//16)
print(39%16)

2
7

In [39]:
print(2//16)
print(2%16)

0
2

In [40]:
#0x27
print(hex(39))

0x27

In [41]:
print(int(0x27))

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [42]:
amount = float(input("Enter Amount:"))
taxRate = float(input("Enter Tax Rate in Percentage:"))

Enter Amount:10
Enter Tax Rate in Percentage:10

In [43]:
taxRate = taxRate / 100
taxAmount = taxRate * amount
totalAmount = amount + taxAmount

In [45]:
print(f"Amount: ${amount:.2f}\nTax Rate: {taxRate:.2%}\nTax Amount: ${taxAmount:.2f}\nTotal Amount: ${totalAmount:.2f}")

Amount: $10.00
Tax Rate: 10.00%
Tax Amount: $1.00
Total Amount: $11.00